body {
  background-color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 370px;
  margin-top: 1rem;
}

@media (max-width: 770px) {
  .container {
    margin: 0 1rem;
  }

  .image {
    width: 100%;
  }
}
